In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
sales = r"C:/Users/IROANYA/Documents/DATA ANALYSIS FILES/Data Sets/sales_data_sample.csv"

In [62]:
dt = pd.read_csv(sales, encoding = "unicode_escape")
df = dt.copy()
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,05/07/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,07/01/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [63]:
pd.set_option("display.max.columns", None)

In [64]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,05/07/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,07/01/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [65]:
df.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [67]:
df.shape

(2823, 25)

# CLEANING PROCESS

### CHECKING FOR MISSING VALUES

In [68]:
df.isna().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [69]:
df.isna().mean() * 100

ORDERNUMBER          0.000000
QUANTITYORDERED      0.000000
PRICEEACH            0.000000
ORDERLINENUMBER      0.000000
SALES                0.000000
ORDERDATE            0.000000
STATUS               0.000000
QTR_ID               0.000000
MONTH_ID             0.000000
YEAR_ID              0.000000
PRODUCTLINE          0.000000
MSRP                 0.000000
PRODUCTCODE          0.000000
CUSTOMERNAME         0.000000
PHONE                0.000000
ADDRESSLINE1         0.000000
ADDRESSLINE2        89.302161
CITY                 0.000000
STATE               52.639036
POSTALCODE           2.692171
COUNTRY              0.000000
TERRITORY           38.044633
CONTACTLASTNAME      0.000000
CONTACTFIRSTNAME     0.000000
DEALSIZE             0.000000
dtype: float64

The columns with missing values have a very high percentage (89%, 52%, 38%). Filling these column  up might create a strong deviation or variation, hence wee drop the columns

In [70]:
df = df.drop(["ADDRESSLINE2", "STATE", "POSTALCODE", "TERRITORY"], axis = 1)
df.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'CITY', 'COUNTRY', 'CONTACTLASTNAME',
       'CONTACTFIRSTNAME', 'DEALSIZE'],
      dtype='object')

In [71]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,05/07/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,07/01/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,USA,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,USA,Brown,Julie,Medium

JOINING THE CONTACT LAST NAME AND FIRST NAME TOGETHER AND DROPPING THE COLUMNS

In [72]:
df["CONTACT_NAME"] = df["CONTACTFIRSTNAME"] + " " + df["CONTACTLASTNAME"]
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,CONTACT_NAME
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,USA,Yu,Kwai,Small,Kwai Yu
1,10121,34,81.35,5,2765.90,05/07/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,France,Henriot,Paul,Small,Paul Henriot
2,10134,41,94.74,2,3884.34,07/01/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,France,Da Cunha,Daniel,Medium,Daniel Da Cunha
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,USA,Young,Julie,Medium,Julie Young
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,USA,Brown,Julie,Medium,Julie Brown

In [73]:
df = df.drop(["CONTACTLASTNAME", "CONTACTFIRSTNAME"], axis = 1)
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,COUNTRY,DEALSIZE,CONTACT_NAME
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,USA,Small,Kwai Yu
1,10121,34,81.35,5,2765.90,05/07/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,France,Small,Paul Henriot
2,10134,41,94.74,2,3884.34,07/01/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,France,Medium,Daniel Da Cunha
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,USA,Medium,Julie Young
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,USA,Medium,Julie Brown

Moving the contact name closer to customer name

In [74]:
###function for moving columns
def move(column, index):
    
    """
    column = column to be moved
    index = position to be moved to
    
    """

    col = df.pop(column)
    df.insert(index, column, col)

In [75]:
move("CONTACT_NAME", 14)
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,CONTACT_NAME,PHONE,ADDRESSLINE1,CITY,COUNTRY,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,Kwai Yu,2125557818,897 Long Airport Avenue,NYC,USA,Small
1,10121,34,81.35,5,2765.90,05/07/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,Paul Henriot,26.47.1555,59 rue de l'Abbaye,Reims,France,Small
2,10134,41,94.74,2,3884.34,07/01/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,Daniel Da Cunha,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,France,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,Julie Young,6265557265,78934 Hillside Dr.,Pasadena,USA,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,Julie Brown,6505551386,7734 Strong St.,San Francisco,USA,Medium

The Sales column = Priceeach * Quantityordered. But some values do not correspond.
Hence we drop the column and make a new sales column

In [76]:
df = df.drop("SALES",axis = 1)

In [77]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,CONTACT_NAME,PHONE,ADDRESSLINE1,CITY,COUNTRY,DEALSIZE
0,10107,30,95.70,2,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,Kwai Yu,2125557818,897 Long Airport Avenue,NYC,USA,Small
1,10121,34,81.35,5,05/07/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,Paul Henriot,26.47.1555,59 rue de l'Abbaye,Reims,France,Small
2,10134,41,94.74,2,07/01/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,Daniel Da Cunha,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,France,Medium
3,10145,45,83.26,6,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,Julie Young,6265557265,78934 Hillside Dr.,Pasadena,USA,Medium
4,10159,49,100.00,14,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,Julie Brown,6505551386,7734 Strong St.,San Francisco,USA,Medium

In [78]:
df["SALES"] = df["QUANTITYORDERED"] * df["PRICEEACH"]

In [79]:
df.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE',
       'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'CONTACT_NAME', 'PHONE',
       'ADDRESSLINE1', 'CITY', 'COUNTRY', 'DEALSIZE', 'SALES'],
      dtype='object')

In [80]:
###moving the column to its former position

move("SALES", 3)

In [81]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERLINENUMBER,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,CONTACT_NAME,PHONE,ADDRESSLINE1,CITY,COUNTRY,DEALSIZE
0,10107,30,95.70,2871.00,2,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,Kwai Yu,2125557818,897 Long Airport Avenue,NYC,USA,Small
1,10121,34,81.35,2765.90,5,05/07/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,Paul Henriot,26.47.1555,59 rue de l'Abbaye,Reims,France,Small
2,10134,41,94.74,3884.34,2,07/01/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,Daniel Da Cunha,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,France,Medium
3,10145,45,83.26,3746.70,6,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,Julie Young,6265557265,78934 Hillside Dr.,Pasadena,USA,Medium
4,10159,49,100.00,4900.00,14,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,Julie Brown,6505551386,7734 Strong St.,San Francisco,USA,Medium

MSRP = MANAGEMENTS STANDARD RETAIL PRICE. We  move it closer to the sales as well as the DEAL SIZE

In [82]:
move("MSRP", 1)
move("DEALSIZE", 5)

In [83]:
df.head()

,ORDERNUMBER,MSRP,QUANTITYORDERED,PRICEEACH,SALES,DEALSIZE,ORDERLINENUMBER,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PRODUCTCODE,CUSTOMERNAME,CONTACT_NAME,PHONE,ADDRESSLINE1,CITY,COUNTRY
0,10107,95,30,95.70,2871.00,Small,2,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,S10_1678,Land of Toys Inc.,Kwai Yu,2125557818,897 Long Airport Avenue,NYC,USA
1,10121,95,34,81.35,2765.90,Small,5,05/07/2003 0:00,Shipped,2,5,2003,Motorcycles,S10_1678,Reims Collectables,Paul Henriot,26.47.1555,59 rue de l'Abbaye,Reims,France
2,10134,95,41,94.74,3884.34,Medium,2,07/01/2003 0:00,Shipped,3,7,2003,Motorcycles,S10_1678,Lyon Souveniers,Daniel Da Cunha,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,France
3,10145,95,45,83.26,3746.70,Medium,6,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,S10_1678,Toys4GrownUps.com,Julie Young,6265557265,78934 Hillside Dr.,Pasadena,USA
4,10159,95,49,100.00,4900.00,Medium,14,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,S10_1678,Corporate Gift Ideas Co.,Julie Brown,6505551386,7734 Strong St.,San Francisco,USA

PRODUCTLINE column indicates the product they bought, hence we move it closer to the MSRP column

In [84]:
move("PRODUCTLINE", 2)

In [85]:
df.head()

,ORDERNUMBER,MSRP,PRODUCTLINE,QUANTITYORDERED,PRICEEACH,SALES,DEALSIZE,ORDERLINENUMBER,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTCODE,CUSTOMERNAME,CONTACT_NAME,PHONE,ADDRESSLINE1,CITY,COUNTRY
0,10107,95,Motorcycles,30,95.70,2871.00,Small,2,2/24/2003 0:00,Shipped,1,2,2003,S10_1678,Land of Toys Inc.,Kwai Yu,2125557818,897 Long Airport Avenue,NYC,USA
1,10121,95,Motorcycles,34,81.35,2765.90,Small,5,05/07/2003 0:00,Shipped,2,5,2003,S10_1678,Reims Collectables,Paul Henriot,26.47.1555,59 rue de l'Abbaye,Reims,France
2,10134,95,Motorcycles,41,94.74,3884.34,Medium,2,07/01/2003 0:00,Shipped,3,7,2003,S10_1678,Lyon Souveniers,Daniel Da Cunha,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,France
3,10145,95,Motorcycles,45,83.26,3746.70,Medium,6,8/25/2003 0:00,Shipped,3,8,2003,S10_1678,Toys4GrownUps.com,Julie Young,6265557265,78934 Hillside Dr.,Pasadena,USA
4,10159,95,Motorcycles,49,100.00,4900.00,Medium,14,10/10/2003 0:00,Shipped,4,10,2003,S10_1678,Corporate Gift Ideas Co.,Julie Brown,6505551386,7734 Strong St.,San Francisco,USA

From the data we see that the MSRP and the PRICEEACH are not the same meaning they either sold above or below the MSRP so assuming we want to know how they would have fared if they sold according to the MSRP we have to create an EXPSALES column and a PROFIT/LOSS column to determine if they made a profit/loss on  that sale based on the MSRP and PRICEEACH

In [86]:
df["EXPSALES"] = df["QUANTITYORDERED"] * df["MSRP"]
df["PROFIT/LOSS"] = df["SALES"] - df["EXPSALES"]

In [87]:
##MOVING THE JUST CREATED COLUMNS 

move("EXPSALES", 6)
move("PROFIT/LOSS", 8)
df.head()

,ORDERNUMBER,MSRP,PRODUCTLINE,QUANTITYORDERED,PRICEEACH,SALES,EXPSALES,DEALSIZE,PROFIT/LOSS,ORDERLINENUMBER,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTCODE,CUSTOMERNAME,CONTACT_NAME,PHONE,ADDRESSLINE1,CITY,COUNTRY
0,10107,95,Motorcycles,30,95.70,2871.00,2850,Small,21.00,2,2/24/2003 0:00,Shipped,1,2,2003,S10_1678,Land of Toys Inc.,Kwai Yu,2125557818,897 Long Airport Avenue,NYC,USA
1,10121,95,Motorcycles,34,81.35,2765.90,3230,Small,-464.10,5,05/07/2003 0:00,Shipped,2,5,2003,S10_1678,Reims Collectables,Paul Henriot,26.47.1555,59 rue de l'Abbaye,Reims,France
2,10134,95,Motorcycles,41,94.74,3884.34,3895,Medium,-10.66,2,07/01/2003 0:00,Shipped,3,7,2003,S10_1678,Lyon Souveniers,Daniel Da Cunha,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,France
3,10145,95,Motorcycles,45,83.26,3746.70,4275,Medium,-528.30,6,8/25/2003 0:00,Shipped,3,8,2003,S10_1678,Toys4GrownUps.com,Julie Young,6265557265,78934 Hillside Dr.,Pasadena,USA
4,10159,95,Motorcycles,49,100.00,4900.00,4655,Medium,245.00,14,10/10/2003 0:00,Shipped,4,10,2003,S10_1678,Corporate Gift Ideas Co.,Julie Brown,6505551386,7734 Strong St.,San Francisco,USA

Converting the ORDERDATE to datetime and extracting the month, day and year and then dropping the MONTH_ID

In [88]:
df["ORDERDATE"] = pd.to_datetime(df["ORDERDATE"])

In [89]:
df["ORDER_MONTH"] = df["ORDERDATE"].dt.month_name()
df["ORDER_DAY"] = df["ORDERDATE"].dt.day_name()
df["ORDER_DATE"] = df["ORDERDATE"].dt.day
df["ORDER_YEAR"] = df["YEAR_ID"]

In [90]:
df.head()

,ORDERNUMBER,MSRP,PRODUCTLINE,QUANTITYORDERED,PRICEEACH,SALES,EXPSALES,DEALSIZE,PROFIT/LOSS,ORDERLINENUMBER,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTCODE,CUSTOMERNAME,CONTACT_NAME,PHONE,ADDRESSLINE1,CITY,COUNTRY,ORDER_MONTH,ORDER_DAY,ORDER_DATE,ORDER_YEAR
0,10107,95,Motorcycles,30,95.70,2871.00,2850,Small,21.00,2,2003-02-24,Shipped,1,2,2003,S10_1678,Land of Toys Inc.,Kwai Yu,2125557818,897 Long Airport Avenue,NYC,USA,February,Monday,24,2003
1,10121,95,Motorcycles,34,81.35,2765.90,3230,Small,-464.10,5,2003-05-07,Shipped,2,5,2003,S10_1678,Reims Collectables,Paul Henriot,26.47.1555,59 rue de l'Abbaye,Reims,France,May,Wednesday,7,2003
2,10134,95,Motorcycles,41,94.74,3884.34,3895,Medium,-10.66,2,2003-07-01,Shipped,3,7,2003,S10_1678,Lyon Souveniers,Daniel Da Cunha,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,France,July,Tuesday,1,2003
3,10145,95,Motorcycles,45,83.26,3746.70,4275,Medium,-528.30,6,2003-08-25,Shipped,3,8,2003,S10_1678,Toys4GrownUps.com,Julie Young,6265557265,78934 Hillside Dr.,Pasadena,USA,August,Monday,25,2003
4,10159,95,Motorcycles,49,100.00,4900.00,4655,Medium,245.00,14,2003-10-10,Shipped,4,10,2003,S10_1678,Corporate Gift Ideas Co.,Julie Brown,6505551386,7734 Strong St.,San Francisco,USA,October,Friday,10,2003

In [91]:
df = df.drop(["ORDERDATE", "MONTH_ID", "YEAR_ID"], axis = 1)

In [92]:
df.head()

,ORDERNUMBER,MSRP,PRODUCTLINE,QUANTITYORDERED,PRICEEACH,SALES,EXPSALES,DEALSIZE,PROFIT/LOSS,ORDERLINENUMBER,STATUS,QTR_ID,PRODUCTCODE,CUSTOMERNAME,CONTACT_NAME,PHONE,ADDRESSLINE1,CITY,COUNTRY,ORDER_MONTH,ORDER_DAY,ORDER_DATE,ORDER_YEAR
0,10107,95,Motorcycles,30,95.70,2871.00,2850,Small,21.00,2,Shipped,1,S10_1678,Land of Toys Inc.,Kwai Yu,2125557818,897 Long Airport Avenue,NYC,USA,February,Monday,24,2003
1,10121,95,Motorcycles,34,81.35,2765.90,3230,Small,-464.10,5,Shipped,2,S10_1678,Reims Collectables,Paul Henriot,26.47.1555,59 rue de l'Abbaye,Reims,France,May,Wednesday,7,2003
2,10134,95,Motorcycles,41,94.74,3884.34,3895,Medium,-10.66,2,Shipped,3,S10_1678,Lyon Souveniers,Daniel Da Cunha,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,France,July,Tuesday,1,2003
3,10145,95,Motorcycles,45,83.26,3746.70,4275,Medium,-528.30,6,Shipped,3,S10_1678,Toys4GrownUps.com,Julie Young,6265557265,78934 Hillside Dr.,Pasadena,USA,August,Monday,25,2003
4,10159,95,Motorcycles,49,100.00,4900.00,4655,Medium,245.00,14,Shipped,4,S10_1678,Corporate Gift Ideas Co.,Julie Brown,6505551386,7734 Strong St.,San Francisco,USA,October,Friday,10,2003

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ORDERNUMBER      2823 non-null   int64
 1   MSRP             2823 non-null   int64
 2   PRODUCTLINE      2823 non-null   object
 3   QUANTITYORDERED  2823 non-null   int64
 4   PRICEEACH        2823 non-null   float64
 5   SALES            2823 non-null   float64
 6   EXPSALES         2823 non-null   int64
 7   DEALSIZE         2823 non-null   object
 8   PROFIT/LOSS      2823 non-null   float64
 9   ORDERLINENUMBER  2823 non-null   int64
 10  STATUS           2823 non-null   object
 11  QTR_ID           2823 non-null   int64
 12  PRODUCTCODE      2823 non-null   object
 13  CUSTOMERNAME     2823 non-null   object
 14  CONTACT_NAME     2823 non-null   object
 15  PHONE            2823 non-null   object
 16  ADDRESSLINE1     2823 non-null   object
 17  CITY             2823 non-null   object
 18  COUNTRY          2823 non-null   object
 19  ORDER_MONTH      2823 non-null   object
 20  ORDER_DAY        2823 non-null   object
 21  ORDER_DATE       2823 non-null   int64
 22  ORDER_YEAR       2823 non-null   int64
dtypes: float64(3), int64(8), object(12)
memory usage: 507.4+ KB

In [95]:
##moving our columns

move("ORDER_YEAR", 11)
move("ORDER_MONTH", 12)
move("ORDER_DATE", 14)
move("ORDER_DAY", 15)
df.head()

,ORDERNUMBER,MSRP,PRODUCTLINE,QUANTITYORDERED,PRICEEACH,SALES,EXPSALES,DEALSIZE,PROFIT/LOSS,ORDERLINENUMBER,STATUS,ORDER_YEAR,ORDER_MONTH,QTR_ID,ORDER_DATE,ORDER_DAY,PRODUCTCODE,CUSTOMERNAME,CONTACT_NAME,PHONE,ADDRESSLINE1,CITY,COUNTRY
0,10107,95,Motorcycles,30,95.70,2871.00,2850,Small,21.00,2,Shipped,2003,February,1,24,Monday,S10_1678,Land of Toys Inc.,Kwai Yu,2125557818,897 Long Airport Avenue,NYC,USA
1,10121,95,Motorcycles,34,81.35,2765.90,3230,Small,-464.10,5,Shipped,2003,May,2,7,Wednesday,S10_1678,Reims Collectables,Paul Henriot,26.47.1555,59 rue de l'Abbaye,Reims,France
2,10134,95,Motorcycles,41,94.74,3884.34,3895,Medium,-10.66,2,Shipped,2003,July,3,1,Tuesday,S10_1678,Lyon Souveniers,Daniel Da Cunha,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,France
3,10145,95,Motorcycles,45,83.26,3746.70,4275,Medium,-528.30,6,Shipped,2003,August,3,25,Monday,S10_1678,Toys4GrownUps.com,Julie Young,6265557265,78934 Hillside Dr.,Pasadena,USA
4,10159,95,Motorcycles,49,100.00,4900.00,4655,Medium,245.00,14,Shipped,2003,October,4,10,Friday,S10_1678,Corporate Gift Ideas Co.,Julie Brown,6505551386,7734 Strong St.,San Francisco,USA